In [2]:
import pandas as pd

data = pd.read_parquet('bitget-kline-1H.parquet', engine='pyarrow')

In [3]:
data

,timestamp,symbol,open,high,low,close,tvol,tval
0,1735027200000,ADAUSDT,0.89900,0.90810,0.89610,0.90590,2384322.0,2.151209e+06
1,1735030800000,ADAUSDT,0.90590,0.90930,0.89620,0.89910,2013770.0,1.814840e+06
2,1735034400000,ADAUSDT,0.89910,0.90070,0.89090,0.89410,1579270.0,1.410643e+06
3,1735038000000,ADAUSDT,0.89410,0.90480,0.89260,0.90350,604916.0,5.443949e+05
4,1735041600000,ADAUSDT,0.90350,0.90440,0.89410,0.89860,753054.0,6.762358e+05
...,...,...,...,...,...,...,...,...
428795,1758049200000,ZILUSDT,0.01166,0.01171,0.01164,0.01169,4180110.0,4.883725e+04
428796,1758052800000,ZILUSDT,0.01169,0.01174,0.01169,0.01173,3312774.0,3.880165e+04
428797,1758056400000,ZILUSDT,0.01173,0.01174,0.01169,0.01174,2900882.0,3.397428e+04
428798,1758060000000,ZILUSDT,0.01174,0.01198,0.01172,0.01178,131564402.0,1.560825e+06
428799,1758063600000,ZILUSDT,0.01178,0.01179,0.01173,0.01175,1264534.0,1.487760e+04

In [4]:
pd.read_csv('df_sample.csv').set_index('datetime')

,BTCUSDT,ETHUSDT,XRPUSDT,BCHUSDT,LTCUSDT,ADAUSDT,ETCUSDT,TRXUSDT,DOTUSDT,DOGEUSDT
datetime,,,,,,,,,,
2025-06-24 00:00:00,101611.8,2272.55,2.0179,448.66,81.58,0.5471,15.524,0.27148,3.246,0.15363
2025-06-24 00:01:00,101750.0,2278.25,2.0213,449.19,81.68,0.5479,15.528,0.27149,3.253,0.15400
2025-06-24 00:02:00,101764.3,2279.07,2.0213,449.60,81.75,0.5481,15.548,0.27172,3.254,0.15401
2025-06-24 00:03:00,101900.9,2282.18,2.0238,450.06,81.93,0.5495,15.556,0.27169,3.260,0.15441
2025-06-24 00:04:00,101895.0,2281.94,2.0241,450.42,81.90,0.5498,15.581,0.27170,3.262,0.15451
...,...,...,...,...,...,...,...,...,...,...
2025-06-26 23:55:00,107333.6,2442.85,2.1223,491.10,85.00,0.5550,16.194,0.27131,3.310,0.15971
2025-06-26 23:56:00,107412.3,2444.74,2.1237,491.43,84.94,0.5551,16.197,0.27132,3.310,0.15982
2025-06-26 23:57:00,107372.9,2443.48,2.1225,491.17,84.98,0.5551,16.199,0.27136,3.310,0.15980
2025-06-26 23:58:00,107406.2,2445.49,2.1227,491.90,85.05,0.5554,16.208,0.27139,3.311,0.15995
2025-06-26 23:59:00,107383.2,2444.99,2.1233,492.21,85.07,0.5552,16.207,0.27136,3.314,0.15994